# Enable Rewriting

RewriteEngine On

# Rewrite for HTTPS
# RewriteCond %{HTTPS} !=on
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Rewrite for URL

RewriteBase "/emdrive/"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)$ single.php?p=$2 [QSA]
